# Copy from .env.local on the Vercel dashboard
# Recommended for most uses
DATABASE_URL=postgres://neondb_owner:npg_maNP3wc5oMbA@ep-shrill-wind-a1fdbuaz-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_maNP3wc5oMbA@ep-shrill-wind-a1fdbuaz.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-shrill-wind-a1fdbuaz-pooler.ap-southeast-1.aws.neon.tech
PGHOST_UNPOOLED=ep-shrill-wind-a1fdbuaz.ap-southeast-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_maNP3wc5oMbA

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:npg_maNP3wc5oMbA@ep-shrill-wind-a1fdbuaz-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_maNP3wc5oMbA@ep-shrill-wind-a1fdbuaz.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-shrill-wind-a1fdbuaz-pooler.ap-southeast-1.aws.neon.tech
POSTGRES_PASSWORD=npg_maNP3wc5oMbA
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_maNP3wc5oMbA@ep-shrill-wind-a1fdbuaz-pooler.ap-southeast-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_maNP3wc5oMbA@ep-shrill-wind-a1fdbuaz-pooler.ap-southeast-1.aws.neon.tech/neondb?pgbouncer=true&connect_timeout=15&sslmode=require